<ul class="navbar-nav">
    <li nav-item>
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li nav-item>
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
</ul>